@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  /* ELEMENTS */
  --color-background: #fffffe;
  --color-headline: #272343;
  --color-paragraph: #2d334a;
  --color-button: #ffd803;
  --color-button-text: #272343;

  /* ILLUSTRATION */
  --color-stroke: 272343;
  --color-main: #fffffe;
  --color-highlight: #ffd803;
  --color-secondary: #e3f6f5;
  --color-ternary: #bae8e8;
}

body {
  background-color: var(--color-background);
  display: grid;
  font-family: 'Nunito', sans-serif;
  grid-template-columns: 100vw;
  grid-template-rows: clamp(60px, 10vh, 80px) 1fr 50px;
  grid-template-areas:
    'top'
    'middle'
    'bottom';
  height: 98vh;
  padding-top: 1vh;
}

/* Top section styles for the header and form */
.top {
  align-items: center;
  display: grid;
  font-size: 1.2em;
  grid-area: top;
  grid-template-columns: 20vw 1fr 20vw;
  grid-template-areas: 'logo form location';
  justify-content: center;
  padding: 0 5vw;
}

/* Logo styles in the top section */
.top__logo {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  font-weight: bolder;
  grid-area: logo;
  height: 4vh;
  justify-content: center;
  text-shadow: 2px 2px var(--color-button);
}

/* Form styles in the top section */
.top__form {
  display: flex;
  gap: 0.5vw;
  grid-area: form;
  justify-self: center;
  justify-content: space-between;
  width: clamp(60px, 30vw, 500px);
}

/* Error container styles for displaying error messages */
.error-container {
  display: none;
  font-size: 1.2rem;
  margin: auto;
  position: fixed;
  text-align: center;
  top: 10vh;
  width: 15vw;
}

.error-container p {
  background-color: var(--color-button);
  border-radius: 15px 15px 15px 15px;
  display: none;
  font-weight: 600;
  padding: 0.5em;
  transition-property: opacity scale;
  transition-timing-function: ease-in-out;
}

/* Input field styles in the form */
.form__input {
  border: 0.1em solid var(--color-button-text);
  border-radius: 25px 25px 25px 25px;
  font-weight: bold;
  height: 4vh;
  outline: none;
  padding: 1em;
  width: 100%;
}

/* Button styles in the form */
.form__button {
  background: none;
  background-color: var(--color-button);
  border: none;
  border-radius: 25px 25px 25px 25px;
  box-shadow: none;
  color: var(--color-button-text);
  font-weight: bold;
  outline: none;
  padding: 0 5%;
  width: max-content;
}

/* Button hover styles in the form */
.form__button:hover {
  background-color: var(--color-button-text);
  color: var(--color-button);
  cursor: pointer;
}

/* Button active styles in the form */
.form__button:active {
  font-size: 70%;
}

/* Location info styles in the top section */
.top__location-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  grid-area: location;
  justify-content: center;
}

/* Middle section styles for the main content */
.middle {
  display: grid;
  grid-area: middle;
  grid-template-columns: 20vw 1fr 20vw;
  grid-template-areas: 'left center right';
  padding: 0 5vw;
  position: relative;
}

/* Temperature unit switcher styles */
.temperature-unit-switcher .system-container {
  background-color: var(--color-button);
  border-radius: 10px 10px 10px 10px;
  color: var(--color-button-text);
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  margin-bottom: 5px;
  width: 120px;
}

/* Hover styles for temperature unit switcher */
.system-container:hover {
  cursor: pointer;
}

.active-system {
  border-radius: 10px 10px 10px 10px;
  background-color: var(--color-button-text);
  color: var(--color-button);
}

label {
  width: 100%;
  text-align: center;
}

label:hover {
  cursor: pointer;
}

input[type='radio'] {
  appearance: none;
}

.temperature-unit-switcher {
  display: flex;
  flex-direction: column;
  grid-area: right;
  justify-content: center;
}

.middle__container--left {
  display: flex;
  flex-direction: column;
  grid: left;
  justify-content: center;
}

.middle__container--center {
  align-items: center;
  display: flex;
  grid: center;
  justify-content: center;
}

.data__container {
  background-color: var(--color-ternary);
  border-radius: 20px;
  padding: 3.5em;
}

.img-container {
  align-content: center;
  display: flex;
  justify-content: center;
}

.bottom {
  align-items: center;
  display: flex;
  grid-area: bottom;
  justify-content: center;
}

.bottom__copyright {
  align-items: center;
  background-color: var(--color-button);
  border-radius: 1.5rem 1.5rem 0 0;
  display: flex;
  font-size: 1.2em;
  flex-direction: column;
  padding: 2vh 4vw;
}

.bottom__copyright a {
  color: var(--color-background);
  font-weight: bolder;
}

.bottom__copyright:hover {
  background-color: var(--color-headline);
  color: var(--color-background);
}

.bottom__copyright:hover a:hover {
  color: var(--color-highlight);
}
