@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  /* ELEMENTS */
  --color-background: #fffffe;
  --color-headline: #272343;
  --color-paragraph: #2d334a;
  --color-button: #ffd803;
  --color-button-text: #272343;

  /* ILLUSTRATION */
  --color-stroke: 272343;
  --color-main: #fffffe;
  --color-higlight: #ffd803;
  --color-secondary: #e3f6f5;
  --color-ternary: #bae8e8;
}

body {
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: clamp(60px, 10vh, 80px) 1fr 50px;
  grid-template-areas:
    'top'
    'middle'
    'bottom';
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

main > div {
  border: 1px solid black;
}

.top {
  grid-area: top;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20vw 1fr 20vw;
  grid-template-areas: 'logo form location';
  padding: 0 5vw;
}

.top__logo {
  border: 1px solid blue;
  font-size: 1.4rem;
  font-weight: bolder;
  display: flex;
  grid-area: logo;
  height: 4vh;
  justify-content: center;
  align-items: center;
}

.top__form {
  display: flex;
  gap: 0.5vw;
  grid-area: form;
  justify-self: center;
  justify-content: space-between;
  width: clamp(60px, 30vw, 500px);
}

.form__input {
  outline: none;
  border: 0.1em solid var(--color-button-text);
  border-radius: 25px 25px 25px 25px;
  height: 4vh;
  padding: 1em;
  width: 100%;
}

.form__button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: var(--color-button);
  color: var(--color-button-text);
  width: max-content;
  border-radius: 25px 25px 25px 25px;
  padding: 0 5%;
}

.form__button:hover {
  cursor: pointer;
  background-color: var(--color-button-text);
  color: var(--color-button);
}

.form__button:active {
  font-size: 70%;
}

.top__location-info {
  grid-area: location;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle {
  border: 1px solid green;
  grid-area: middle;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-areas: 'left center';
  padding: 0 5vw;
}

.middle__container {
}

.middle__container--left {
  grid: left;
}

.middle__container--center {
  grid: center;
}

.bottom {
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom__copyright {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
